<!DOCTYPE html>

{% load static %}  

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Progress Dashboard</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
</head>
<body>
    <div class="sidebar">
        <hr>    
        <a href="{% url 'profile' %}">Profile</a>
        <a href="{% url 'logout' %}">LogOut</a>
        <hr>
    </div>
    <div class="content">
        <header>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'logout' %}">LogOut</a></li>
                </ul>
            </nav>
        </header>
        <div class="container">
            <h1>Gym Trainer Services - Online Training Videos</h1>
            <hr>
            <div class="video-grid">
                <div class="video-wrapper">
                    <iframe 
                        src="https://drive.google.com/file/d/1_XV1r8sek36ToeE9qAu49rpLbRor1YjU/preview" 
                        allow="autoplay" 
                        allowfullscreen>
                    </iframe>
                    <p class="video-title">Video: Lat Pull Down</p>
                </div>
                <div class="video-wrapper">
                    <iframe 
                        src="https://drive.google.com/file/d/1TMBJ3Sa8SaDtePYX6LV6qM0Wci46mXTf/preview" 
                        allow="autoplay" 
                        allowfullscreen>
                    </iframe>
                    <p class="video-title">Video: Bench Press</p>
                </div>
                <div class="video-wrapper">
                    <iframe 
                        src="https://drive.google.com/file/d/1mjuKAIE6CMNW8uLGfEHTVtWxP0ELmVUX/preview" 
                        allow="autoplay" 
                        allowfullscreen>
                    </iframe>
                    <p class="video-title">Video: Triceps Rope Pull Down</p>
                </div>
            </div> 
            <div class="video-grid">
                <div class="video-wrapper">
                    <iframe 
                        src="https://drive.google.com/file/d/1sXB3gKZqzy9aLDjSmsARN02meuYsNP42/preview" 
                        allow="autoplay" 
                        allowfullscreen>
                    </iframe>
                    <p class="video-title">Video: Lat Rope Pull Down</p>
                </div>
                <div class="video-wrapper">
                    <iframe 
                        src="https://drive.google.com/file/d/1fM2z7OuQTy4774fwM1G1IZBmw8ke7iqk/preview" 
                        allow="autoplay" 
                        allowfullscreen>
                    </iframe>
                    <p class="video-title">Video: Alternate Bicep Curls</p>
                </div>
            </div>  
        </div>
    </div>
</body>
</html>
